body, section {
  margin: auto;
}

header {
  font-family: 'Fjalla One', sans-serif;
  top: 0;
  height: 15vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  margin: 10px;
  background-color: #B58BAB;
  width: 33.3%;
  height: 550px;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2vw;
  font-size: 50px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 22px;
}

img {
  width: 50%;
  height: 70%;
  float: right;
  margin: 10px;
}

section p {
  text-align: center;
  font-size: 15px;
}

p {
  margin: 10px;
}

#bar_header {
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
  text-align: center;
  color: initial;
}

#bar_sub_header {
  font-size: 30px;
}

#scatter_sub_header {
  font-size: 25px;
}
